body{
	background-color:#232323;
	margin: 0;
	font-family: "Avenir";
}
.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float:left;
	margin: 1.667%;
	border-radius: 25%;
	transition: background 0.7s;
}
#container{
	margin: 20px auto;
	max-width: 600px;
}
h1{
	color:white;
	line-height: 1.1;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;;
	text-transform: uppercase;
	padding: 20px 0;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color:black;
}
.selected{
	color:white;
	background: steelblue;
}
#colorDisplay{
	font-size: 200%;
}
button{
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s;
}
#message{
	display: inline-block;
	width:20%;
}
button:hover{
	color:white;
	background: steelblue;
}